@import './common';
@import './example';


* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

:root {
    --button-shadow-color-first: #0000001F;
    --container-shadow-color-first: #00000033;
    --container-shadow-color-second: #00000024;
    --main-color: #212121;
}

.form-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: #415eb6;

    form {
        display: flex;
        width: 100%;
        height: 35px;
        max-width: 320px;
        border-radius: 5px;
        overflow: hidden;
        
    }

    input {
        width: 100%;
        padding: 10px;
        border: none;
    }

    button {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        cursor: pointer;
        transition: all 250ms ease-in-out;
        
        &:hover,&:focus {
            background-color: #DCDCDC;
        }
        &:active {
            background-color: #888888;
        }
    }

    svg {
        fill: black;
        color: black;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.wrapper {
    padding: 70px 15px 15px 15px;
}

.info{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    .info-item {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

.load-more {
    display: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #415eb6;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    width: calc((100% - 80px) / 4);
    height: 322.06px;
    margin: 10px;
    box-shadow: 0px 2px 1px 0px var(--container-shadow-color-first),
            0px 1px 1px 0px var(--container-shadow-color-second),
            0px 1px 3px 0px var(--button-shadow-color-first);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: inherit;
    text-decoration: none;
}



img {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
}

button {
    cursor: pointer;
}

.photo-card {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height:100%;
}

.thumb {
    height: calc(322.05px - 80px);
}
